.navbar{
    position: sticky;
    top: 0;
    left:0;
    width: 100%;
    background-color: rgb(164, 217, 164);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.storeName{
    font-family: 'Roboto';
    font-weight:400px;
    font-size: 30px;
    color: rgb(9, 78, 9)
}

.searchBar{
    height: 25px;
    width: 300px; 
    border:0;
    border-radius: 05px;
    padding:4px;
}

.searchCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:5%;
}

.btn{
    width: 15%;
    text-align: center;
    font-family: 'Roboto';
    background-color: transparent;
    border: 0.5px solid;
    height: 25px;
    border-radius: 2px;
}

.searchIcon {
    position: absolute;
    right: 10px; 
    color: rgb(23, 23, 23); 
  }
.searchContainer{
    position: relative;
  display: flex;
  align-items: center;
}

.btn:hover {
    background-color: #00b321d7; 
}

.logo{
    height: 50px;
    width: 50px;
    border-radius:10px;
}

.cartIcon{
    position: sticky;
    overflow: hidden;
    top:0;
    z-index: 1000;
}

.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.badge{
    position: absolute;
    bottom: -0.5px;
    right: -2px;
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 9px;
}

.itemsContainer{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    padding:0 20px;
    margin-left:5%;
    margin-right:5%;
    justify-content: space-evenly;
}